{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "include": [
        "transform-es2015-shorthand-properties"
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
