{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "test/**",
        "gulpfile.babel.js"
      ]
    }]
  }
}
